# Neural Language Modeling

In [17]:
import pandas as pd

In [18]:
df = pd.read_csv('data/ratings_train.txt', sep='\t')

In [19]:
df.head()

         id                                           document  label
0   9976970                                아 더빙.. 진짜 짜증나네요 목소리      0
1   3819312                  흠...포스터보고 초딩영화줄....오버연기조차 가볍지 않구나      1
2  10265843                                  너무재밓었다그래서보는것을추천한다      0
3   9045019                      교도소 이야기구먼 ..솔직히 재미는 없다..평점 조정      0
4   6483659  사이몬페그의 익살스런 연기가 돋보였던 영화!스파이더맨에서 늙어보이기만 했던 커스틴 ...      1

In [20]:
df.shape

(150000, 3)

In [21]:
df['label'].value_counts()

label
0    75173
1    74827
Name: count, dtype: int64

In [22]:
df.isna().sum()

id          0
document    5
label       0
dtype: int64

In [23]:
df.loc[df['document'].isna(), :]

             id document  label
25857   2172111      NaN      1
55737   6369843      NaN      1
110014  1034280      NaN      0
126782  5942978      NaN      0
140721  1034283      NaN      0

In [24]:
df = df.dropna(how='any', axis=0)

In [25]:
df.shape

(149995, 3)